<section class="cv-material-page">

  <mat-card class="cv-item" *ngFor="let cvItem of cvItems">

    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <h2>{{ cvItem.Title }}</h2>
        </mat-card-title>
        <mat-card-subtitle>
          <h1>{{ cvItem.Company.Name }} <span *ngIf="cvItem.Company.Team"> - {{ cvItem.Company.Team }}</span></h1>
        </mat-card-subtitle>
        <img class="company-logo" [src]="cvItem.Company.LogoUrl">
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>

      <hr class="gradient" />

      <div class="cv-item-description" [innerHTML]="cvItem._DescriptionHtml"></div>

      <hr class="gradient" />

    </mat-card-content>

    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->

    <mat-card-footer>

      <mat-accordion *ngIf="cvItem.Skills">
        <mat-expansion-panel>

          <mat-expansion-panel-header>

            <mat-panel-title>
              <h1>Skills</h1>
            </mat-panel-title>

            <!-- <mat-panel-description>
            Currently I am
          </mat-panel-description> -->

          </mat-expansion-panel-header>

          <section class="skills">
            <article class="skill" *ngFor="let skill of cvItem.Skills ; let i = index">
              <floating-skill [skill]="skill" [position]="i" size="100px"></floating-skill>
            </article>
          </section>

        </mat-expansion-panel>

      </mat-accordion>

    </mat-card-footer>


  </mat-card>

</section>
