kazaam-floating-content {
  * {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .example-card {
    max-width: 300px;
    max-height: 415px;
    border: 15px solid rgb(214, 213, 213);
    border-radius: 20px;

    .example-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
  }
}
