:host {
  min-height: 100%;
}

section {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.hexagon-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: whitesmoke;
}
