@use '@angular/material' as mat;
@use 'sass:map';

@include mat.core();

@mixin color($theme) {
    $primary-color: mat.get-theme-color($theme, primary);
    $accent-color: mat.get-theme-color($theme, tertiary);

    .background {
        // must find a way to get the inverted color for the line of the polygons background
        @if mat.get-theme-type($theme) == dark {
            background-color: #efefef80;
        } @else {
            background-color: #30303080;
        }

        svg {
            polygon {
                fill: var(--mat-app-background-color);
            }
        }
    }

    .mat-sidenav-container.nav-sidenav {
        .mat-sidenav {
            .mat-accordion.nav-accordion {
                .mat-expansion-panel {
                    .mat-expansion-panel-header {
                        border-color: $primary-color;
                        background: rgba($primary-color, 0.25);

                        &:hover {
                            background: rgba($primary-color, 0.5);
                        }
                    }

                    &.link-active {
                        .mat-expansion-panel-header {
                            .mat-expansion-panel-header-title {
                                color: $accent-color !important;
                            }
                        }
                    }

                    .mat-expansion-panel-content {
                        .mat-expansion-panel-body {
                            .mat-mdc-nav-list {
                                .mat-mdc-list-item {
                                    &.link-active {
                                        .mat-mdc-list-item-title {
                                            color: $accent-color !important;
                                        }

                                        .mat-mdc-list-item-icon {
                                            color: $accent-color !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@mixin theme($theme) {
    $color-config: mat.m2-get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }
}
