:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.background {
  z-index: -3;

  position: absolute;
  overflow: hidden;

  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;

  .finisher-header {
    z-index: -1;
    position: absolute;

    overflow: hidden;
    height: 350px;
    width: 100%;
  }

  .cursor {
    z-index: -3;

    top: var(--cursor-top);
    left: var(--cursor-left);
    opacity: var(--cursor-opacity);

    width: 350px;
    height: 350px;
    border-radius: 100%;
    position: absolute;
    box-shadow: 2px -3px 41px -1px rgba(241, 196, 15, 0.64);
    background: linear-gradient(
      45deg,
      #e8f74d,
      #ff6600d9,
      #00ff66,
      #13ff13,
      #ad27ad,
      #bd2681,
      #6512b9,
      #ff3300de,
      #5aabde
    );
    background-size: 400%;
    animation: glower 20s linear infinite;
    filter: blur(40px);

    @keyframes glower {
      0% {
        background-position: 0 0;
      }

      50% {
        background-position: 400% 0;
      }

      100% {
        background-position: 0 0;
      }
    }
  }

  svg {
    z-index: -2;
    position: relative;

    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;

    polygon {
      stroke-width: 6;
      stroke: transparent;
    }
  }
}

.header {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */

  mat-toolbar {
    .spacer {
      flex: 1 1 auto;
    }

    .github {
      mat-icon {
        height: 24px;
        width: 24px;
      }
      img {
        height: 24px;
      }
    }

    .linked {
      img {
        height: 24px;
      }
    }

    ::ng-deep .theme-configuration {
      width: 300px !important;
    }

    .mat-icon.theme-preview {
      margin-right: 0;
      margin-left: auto;
      padding-left: 8px;
      order: 1;

      min-height: 32px;
      min-width: 32px;

      img {
        min-height: 24px;
        min-width: 24px;
      }
    }
  }
}

.drawer-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  ::ng-deep .mat-drawer-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  ::ng-deep .mat-drawer.help-drawer {
    min-width: 25%;
    max-width: 25%;
  }

  ::ng-deep .mat-drawer.nav-drawer {
    min-width: 250px;
    max-width: 250px;
  }

  .help-button {
    position: absolute;
    width: 100px;
    right: 0;
    top: 50px;
    z-index: 666;

    button {
      position: fixed;
      border-radius: 24px 0 0 24px;
      width: 100px;
    }
  }

  .content {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .help-drawer {
    padding: 20px;
  }

  .nav-drawer {

    .identity {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;

      .avatar {
        margin-top: 16px;
        width: 175px;
        height: 175px;
        border-radius: 50%;
      }

      .name {
        margin-top: 8px;
      }

      .designation {
        margin-top: 8px;
      }
    }

    .mat-mdc-list-base {
      --mdc-list-list-item-one-line-container-height: 48px;

    }
  }
}
