<!-- https://codepen.io/gayane-gasparyan/pen/jOmaBQK -->
<!-- https://codepen.io/Huhtamaki/pen/GPzwPY -->

<!-- https://blog.avada.io/css/hexagons -->
<!-- https://devsnap.me/css-hexagons -->

<!-- https://codepen.io/d3nis031/pen/QWyeNYx -->
<!-- https://codepen.io/techyt/pen/qBOBEJL -->

<div #background class="background">

  <div class="finisher-header"></div>

  <svg>
    <!-- Based on https://codepen.io/dudleystorey/pen/YwdYxq -->
    <defs>
      <pattern #hexagons id="hexagons" width="25" height="43.4" patternUnits="userSpaceOnUse"
        patternTransform="scale(2) translate(2) rotate(45)">
        <polygon points="19.8,7 32.3,14.2 32.3,28.7 19.8,35.9 7.3,28.7 7.3,14.2" id="hex" />
        <use xlink:href="#hex" x="25" />
        <use xlink:href="#hex" x="-25" />
        <use xlink:href="#hex" x="12.5" y="-21.7" />
        <use xlink:href="#hex" x="-12.5" y="-21.7" />
        <use xlink:href="#hex" x="12.5" y="21.7" />
        <use xlink:href="#hex" x="-12.5" y="21.7" />
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill="url(#hexagons)" />
  </svg>

  <div #cursor class="cursor" [style.--cursor-left]="this.cursorLeft" [style.--cursor-top]="this.cursorTop"
    [style.--cursor-opacity]="this.cursorOpacity">
    <!-- Based on https://codepen.io/nocni_sovac/pen/BaKLwxZ -->
  </div>

</div>

<header class="header">

  <nav>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="navDrawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menuThemes">
        <mat-icon>format_color_fill</mat-icon>
      </button>

      <mat-menu #menuThemes="matMenu" class="theme-configuration">

        <div mat-menu-item (click)="$event.stopPropagation();">
          <mat-slide-toggle [(ngModel)]="darkTheme"></mat-slide-toggle>
          <span>Dark Mode</span>
        </div>

        <mat-divider></mat-divider>

        <button mat-menu-item *ngFor="let _theme of themes" class="theme-button"
          (click)="theme = _theme; $event.stopPropagation();">
          <mat-icon class="theme-selected">{{ _theme === theme ? 'radio_button_checked' : 'radio_button_unchecked'
            }}</mat-icon>
          <span>{{_theme.name}}</span>
          <mat-icon class="theme-preview"><img [src]="getThemePreview(_theme)" /></mat-icon>
        </button>

      </mat-menu>

      <button mat-button class="linked">
        <img src="/assets/linkedIn/linkedIn-logo.png" />
      </button>

      <button mat-button class="github">
        <mat-icon svgIcon="github" inline="true"></mat-icon>
        <img src="/assets/github/github_logo.png" />
      </button>

    </mat-toolbar>
  </nav>

</header>

<mat-drawer-container class="drawer-container" autosize>

  <mat-drawer #navDrawer class="nav-drawer" mode="side" position="start" opened>

    <div class="identity">

      <img class="avatar mat-elevation-z8"
        src="https://media.licdn.com/dms/image/C4E03AQErqk0E4nFA-Q/profile-displayphoto-shrink_200_200/0/1658070640158?e=1692230400&v=beta&t=_po1XS3xOIJfPjYICcvk6JrTeWmgzqUqEZMlxzHpYcc" />

      <h4 class="name">Cédric Cazin</h4>

      <p class="designation">Lead Software Engineer</p>

      <br />

    </div>

    <mat-nav-list role="navigation">

      <div mat-subheader>Work</div>

      <mat-divider></mat-divider>

      <mat-list-item routerLink="about">
        <mat-icon matListItemIcon>portrait</mat-icon>
        <div matListItemTitle>About</div>
      </mat-list-item>

      <mat-list-item routerLink="cv">
        <mat-icon matListItemIcon>view_timeline</mat-icon>
        <div matListItemTitle>Experience</div>
      </mat-list-item>

      <mat-list-item routerLink="cv">
        <mat-icon matListItemIcon>description</mat-icon>
        <div matListItemTitle>Resume</div>
      </mat-list-item>

      <mat-list-item routerLink="skills">
        <mat-icon matListItemIcon>bar_chart</mat-icon>
        <div matListItemTitle>Skills</div>
      </mat-list-item>

      <mat-list-item routerLink="contact">
        <mat-icon matListItemIcon>email</mat-icon>
        <div matListItemTitle>Contact</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <br />
      <br />

      <div mat-subheader>Perso</div>

      <mat-divider></mat-divider>

      <mat-list-item routerLink="web-app-games">
        <mat-icon matListItemIcon>sports_esports</mat-icon>
        <div matListItemTitle>Games</div>
      </mat-list-item>

      <mat-divider></mat-divider>

    </mat-nav-list>

  </mat-drawer>

  <mat-drawer #helpDrawer class="help-drawer" mode="side" position="end">
    <router-outlet name="help"></router-outlet>
  </mat-drawer>

  <div class="help-button">
    <button mat-fab extended color="primary" (click)="helpDrawer.toggle()">
      Help
    </button>
  </div>

  <section class="content">
    <router-outlet></router-outlet>
  </section>

</mat-drawer-container>
