@use '@angular/material' as mat;
@use 'sass:map';

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);

    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $warn-palette: map.get($color-config, 'warn');
    $is-dark-theme: map.get($color-config, 'is-dark');

    $accent-color: mat.get-color-from-palette($accent-palette, 'default');

    .background {
        background-color: if($is-dark-theme, #efefef80, #30303080);

        svg {
            polygon {
                fill: if($is-dark-theme, #303030, #efefef);
            }
        }
    }

    .mat-drawer-container {
        background-color: transparent;
    }

    mat-nav-list {
        .mdc-list-item {
            padding-left: 10px !important;

            &.list-item-active {
                border-left: 10px solid $accent-color !important;
                padding-left: 0 !important;

                .mat-mdc-list-item-title {
                    font-weight: bold;
                    color: $accent-color !important;
                }

                .mat-icon {
                    color: $accent-color !important;
                }
            }
        }
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }
}
