<header class="header">
  <div class="finisher-header"></div>

  <mat-toolbar class="backdrop-blur !bg-white/25">
    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Cédric Cazin</span>

    <span class="flex-1"></span>

    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button
      mat-icon-button
      aria-label="Example icon-button with share icon"
      (click)="onClick()"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</header>

<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="web-app-skills">WebAppSkills</a></li>
  <li><a routerLink="web-app-portfolio">WebAppPortfolio</a></li>
</ul>

<router-outlet></router-outlet>
