@use '@angular/material' as mat;
@use 'sass:map';

@include mat.core();

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);

    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $warn-palette: map.get($color-config, 'warn');
    $background-palette: map.get($color-config, 'background');
    $is-dark-theme: map.get($color-config, 'is-dark');

    $accent-color: mat.get-color-from-palette($accent-palette, 'default');
    $primary-color: mat.get-color-from-palette($primary-palette, 'default');
    $background-color: mat.get-color-from-palette($background-palette, 'background');
    $hover-color: mat.get-color-from-palette($background-palette, 'hover');

    .background {
        // must find a way to get the inverted color for the line of the polygons background
        background-color: if($is-dark-theme, #efefef80, #30303080);

        svg {
            polygon {
                fill: var(--mat-app-background-color);
            }
        }
    }

    .mat-sidenav-container.nav-sidenav {
        .mat-sidenav {
            .mat-accordion.nav-accordion {
                .mat-expansion-panel {
                    .mat-expansion-panel-header {
                        border-color: $primary-color;
                        background: rgba($primary-color, 0.25);

                        &:hover {
                            background: rgba($primary-color, 0.5);
                        }
                    }

                    &.link-active {
                        .mat-expansion-panel-header {
                            .mat-expansion-panel-header-title {
                                color: $accent-color !important;
                            }
                        }
                    }

                    .mat-expansion-panel-content {
                        .mat-expansion-panel-body {
                            .mat-mdc-nav-list {
                                .mat-mdc-list-item {
                                    &.link-active {
                                        .mat-mdc-list-item-title {
                                            color: $accent-color !important;
                                        }

                                        .mat-mdc-list-item-icon {
                                            color: $accent-color !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }
}
