:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-height: 100%;
}

section.about-page {
    display: flex;
    flex-direction: column;
    flex: 1;

    header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 3em;
            margin-block-start: 0.75em;
            margin-block-end: 0.75em;
        }
    }

    section.skills-medals-page {
        display: flex;
        flex-direction: column;
        gap: 2em;

        mat-card {
            mat-card-content {
                padding: 30px;

                ::ng-deep blockquote {
                    border-left-width: 5px;
                    border-left-style: solid;

                    font-style: italic;
                    padding-left: 20px;
                }
            }

            &.radar-chart {
                mat-card-content {
                    height: 700px;
                    min-height: 700px;
                    max-height: 700px;
                }
            }
        }
    }
}
