:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  justify-content: center;
}

section.resume-timeline-page {
  display: flex;
  flex-direction: column;
  gap: 2em;

  mat-card {
    mat-card-header {
      .company-logo {
        height: 25px;
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;
      }
    }
    mat-card-content {
      hr.gradient {
        width: 100%;
        margin-block-start: 1em;
        margin-block-end: 1em;

        border: 0;
        height: 1px;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.75),
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.75),
          rgba(0, 0, 0, 0)
        );
      }

      section.resume-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        article.skill {
          display: flex;
          align-items: center;
          justify-content: center;

          // top: -25px;
          flex-grow: 1;
          min-width: 15%;

          &:nth-child(11n - 4),
          &:nth-child(11n - 3),
          &:nth-child(11n - 2),
          &:nth-child(11n - 1),
          &:nth-child(11n) {
            min-width: 20%;
            margin-top: -25px;
          }

          &:nth-child(11n - 4):not(:last-child),
          &:nth-child(11n - 3):not(:last-child),
          &:nth-child(11n - 2):not(:last-child),
          &:nth-child(11n - 1):not(:last-child),
          &:nth-child(11n):not(:last-child) {
            margin-bottom: -25px;
          }

          // &:nth-child(11n - 4) {
          //   floating-skill {
          //     margin-left: 65%;
          //   }
          // }

          // &:nth-child(11n - 3) {
          //   floating-skill {
          //     margin-left: 33%;
          //   }
          // }

          // &:nth-child(11n -1) {
          //   floating-skill {
          //     margin-right: 33%;
          //   }
          // }

          // &:nth-child(11n) {
          //   floating-skill {
          //     margin-right: 65%;
          //   }
          // }

          // &:nth-child(11n - 4):last-child,
          // &:nth-child(11n - 3):last-child {
          //   floating-skill {
          //     margin-left: 0;
          //   }
          // }

          // &:nth-child(11n -1):last-child,
          // &:nth-child(11n):last-child {
          //   floating-skill {
          //     margin-right: 0;
          //   }
          // }
        }
      }
    }
  }
}
