:host {
    display: flex;
    flex-direction: column;

    flex: 1;

    overflow: hidden;
    overflow-y: auto;
}

.background {
    z-index: -3;

    position: absolute;
    overflow: hidden;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .rainbow {
        z-index: -3;
        top: 0;
        left: 0;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
        box-shadow: 2px -3px 41px -1px rgba(241, 196, 15, 0.64);
        background: linear-gradient(45deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
        background-size: 400%;
        animation: glower 20s linear infinite;
        filter: blur(40px);

        @keyframes glower {
            0% {
                background-position: 0 0;
            }

            50% {
                background-position: 400% 0;
            }

            100% {
                background-position: 0 0;
            }
        }
    }

    svg {
        z-index: -2;
        position: relative;

        min-width: 100%;
        width: 100%;
        min-height: 100%;
        height: 100%;

        polygon {
            stroke-width: 6;
            stroke: transparent;
        }
    }
}

header,
nav,
main,
footer {
    display: flex;
    flex-direction: column;

    flex: 1;

    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

nav {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */

    mat-toolbar {
        margin: 20px auto;
        border-radius: 100px;

        gap: 10px;

        .spacer {
            flex: 1 1 auto;
        }

        .link {
            height: 36px;

            img {
                height: 24px;
                vertical-align: middle;
            }

            &.github {
                mat-icon {
                    height: 24px;
                    width: 24px;
                }
            }

            &.linkedin {
            }
        }

        ::ng-deep .theme-configuration {
            width: 300px !important;
        }

        .mat-icon.theme-preview {
            margin-right: 0;
            margin-left: auto;
            padding-left: 8px;
            order: 1;

            min-height: 32px;
            min-width: 32px;

            img {
                min-height: 24px;
                min-width: 24px;
            }
        }

        ::ng-deep .language-configuration {
            width: 300px !important;
        }

        .mat-icon.theme-preview {
            margin-right: 0;
            margin-left: auto;
            padding-left: 8px;
            order: 1;

            min-height: 32px;
            min-width: 32px;

            img {
                min-height: 24px;
                min-width: 24px;
            }
        }
    }
}

main {
}
