@use '@angular/material' as mat;
@include mat.core();

$pink-primary: mat.define-palette(mat.$pink-palette, 500);
$blue-grey-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

$pink-blue-grey-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $pink-primary,
      accent: $blue-grey-accent,
    ),
    typography: mat.define-typography-config(),
  )
);

$pink-blue-grey-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $pink-primary,
      accent: $blue-grey-accent,
    ),
    typography: mat.define-typography-config(),
  )
);
