@use '@angular/material' as mat;
@include mat.core();

$purple-primary: mat.define-palette(mat.$purple-palette, 500);
$green-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$purple-green-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $purple-primary,
      accent: $green-accent,
    ),
    typography: mat.define-typography-config(),
  )
);

$purple-green-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $purple-primary,
      accent: $green-accent,
    ),
    typography: mat.define-typography-config(),
  )
);
