@use '@angular/material' as mat;
@use 'sass:map';

@use '../app/app.component.theme' as app;
@use '../app/about/about/about.component-theme' as about;
@use '../app/contact/contact/contact.component-theme' as contact;
@use '../app/experiences/experiences/experiences.component-theme' as experiences;
@use '../app/resume/resume/resume.component-theme' as resume;
@use '../app/skills/skills/skills.component-theme' as skills;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$amber-palette),
    ),
    // Only include `typography` and `density` in the default dark theme.
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$amber-palette),
    ),
  )
);

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.all-component-colors(
  map.merge(
    $dark-theme,
    (
      typography: mat.define-typography-config(),
    )
  )
);

@include app.theme($dark-theme);
@include about.theme($dark-theme);
@include contact.theme($dark-theme);
@include experiences.theme($dark-theme);
@include resume.theme($dark-theme);
@include skills.theme($dark-theme);

// Apply the light theme only when the user prefers light themes.
// @media (prefers-color-scheme: light) {}

body.color-scheme-light {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($light-theme);
  @include mat.all-component-colors(
    map.merge(
      $light-theme,
      (
        typography: mat.define-typography-config(),
      )
    )
  );

  @include app.theme($light-theme);
  @include about.theme($light-theme);
  @include contact.theme($light-theme);
  @include experiences.theme($light-theme);
  @include resume.theme($light-theme);
  @include skills.theme($light-theme);
}
