@use '@angular/material' as mat;

@include mat.core();

$typography: mat.define-typography-config(
    $font-family: 'Roboto',
);

$density: -3;

// Define a dark theme
$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: mat.define-palette(mat.$deep-purple-palette),
            accent: mat.define-palette(mat.$amber-palette),
        ),
        typography: $typography,
        density: $density,
    )
);

// Define a light theme
$light-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$deep-purple-palette),
            accent: mat.define-palette(mat.$amber-palette),
        ),
        typography: $typography,
        density: $density,
    )
);

@import 'common-theme';
