@use '@angular/material' as mat;
@use 'sass:map';

@mixin color-glass($theme) {
  $color-config: mat.get-color-config($theme);

  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $warn-palette: map.get($color-config, 'warn');
  $is-dark-theme: map.get($color-config, 'is-dark');

  $primary-color: mat.get-color-from-palette($primary-palette, 'default');
  $contrast-color: mat.get-color-from-palette(
    $primary-palette,
    'default-contrast'
  );

  .mat-sidenav.nav-sidenav {
    backdrop-filter: blur(if($is-dark-theme, 2.5px, 0.5px))
      saturate(if($is-dark-theme, 50%, 5));
    -webkit-backdrop-filter: blur(if($is-dark-theme, 2.5px, 0.5px))
      saturate(if($is-dark-theme, 50%, 5));

    background: rgba($primary-color, if($is-dark-theme, 0.33, 0.5));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  }

  .mat-mdc-card {
    margin: 16px;
    width: calc(100% - 32px);

    border-radius: 16px;
    backdrop-filter: blur(if($is-dark-theme, 2.5px, 0.5px))
      saturate(if($is-dark-theme, 50%, 5));
    -webkit-backdrop-filter: blur(if($is-dark-theme, 2.5px, 0.5px))
      saturate(if($is-dark-theme, 50%, 5));

    background: rgba($primary-color, if($is-dark-theme, 0.33, 0.5));
    border: 1px solid rgba($contrast-color, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  }

  .mat-toolbar {
    margin: 16px;
    top: 16px;
    width: calc(100% - 32px);

    border-radius: 16px;
    backdrop-filter: blur(if($is-dark-theme, 2.5px, 0.5px))
      saturate(if($is-dark-theme, 50%, 5));
    -webkit-backdrop-filter: blur(if($is-dark-theme, 2.5px, 0.5px))
      saturate(if($is-dark-theme, 50%, 5));

    &.mat-primary {
      background: rgba($primary-color, if($is-dark-theme, 0.33, 0.5));
      border: 1px solid rgba($contrast-color, 0.25);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    }
  }
}

@mixin transition($theme) {
  &:not(.cold-start) {
    .mat-toolbar,
    .mat-mdc-card,
    .mat-sidenav.nav-sidenav {
      transition-property: all;
      transition: margin 700ms ease-in-out, width 700ms ease-in-out,
        border-radius 700ms ease-in-out, background 700ms ease-in-out,
        top 700ms ease-in-out;
    }
  }
}

@mixin theme($theme) {
  @include transition($theme);

  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include color-glass($theme);
  }
}

@mixin untheme($theme) {
  @include transition($theme);
}
