@use '@angular/material' as mat;

@use '../app/app.component.theme' as app;

@use 'about.component.theme' as about;
@use 'contact.component.theme' as contact;
@use 'experiences.component.theme' as experiences;
@use 'resume.component.theme' as resume;
@use 'skills.component.theme' as skills;

@use 'floating-skill.component.theme.scss' as floating-skill;

@use './glass.theme' as glass;

@include mat.core();

$typography: mat.define-typography-config(
    $font-family: 'Roboto',
);
$density: -3;

// Define a dark theme
$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: mat.define-palette(mat.$indigo-palette),
            accent: mat.define-palette(mat.$pink-palette),
        ),
        typography: $typography,
        density: $density,
    )
);

// Define a light theme
$light-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$indigo-palette),
            accent: mat.define-palette(mat.$pink-palette),
        ),
        typography: $typography,
        density: $density,
    )
);

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

@include app.theme($dark-theme);

@include about.theme($dark-theme);
@include contact.theme($dark-theme);
@include experiences.theme($dark-theme);
@include resume.theme($dark-theme);
@include skills.theme($dark-theme);

@include floating-skill.theme($dark-theme);

body {
    &.glass-scheme {
        @include glass.theme($dark-theme);
    }
    &:not(.glass-scheme) {
        @include glass.untheme($dark-theme);
    }
}

body.color-scheme-light {
    @include mat.all-component-colors($light-theme);

    @include app.theme($light-theme);
    @include about.theme($light-theme);
    @include contact.theme($light-theme);
    @include experiences.theme($light-theme);
    @include resume.theme($light-theme);
    @include skills.theme($light-theme);

    &.glass-scheme {
        @include glass.theme($light-theme);
    }
    &:not(.glass-scheme) {
        @include glass.untheme($light-theme);
    }
}
