@use '@angular/material' as mat;

@use '../app/app.component.theme' as app;
@use '../app/about/about-main/about-main.component-theme' as about;
@use '../app/contact/contact-main/contact-main.component-theme' as contact;
@use '../app/experiences/experiences-main/experiences-main.component-theme' as experiences;
@use '../app/resume/resume-main/resume-main.component-theme' as resume;
@use '../app/skills/skills-main/skills-main.component-theme' as skills;
@use '../app/shared/floating-skill/floating-skill.component.theme.scss' as floating-skill;
@use './glass.theme' as glass;

@include mat.core();

$typography: mat.define-typography-config(
    $font-family: 'Roboto',
);
$density: -3;

// Define a dark theme
$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: mat.define-palette(mat.$purple-palette),
            accent: mat.define-palette(mat.$green-palette),
        ),
        typography: $typography,
        density: $density,
    )
);

// Define a light theme
$light-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$purple-palette),
            accent: mat.define-palette(mat.$green-palette),
        ),
        typography: $typography,
        density: $density,
    )
);

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

@include app.theme($dark-theme);
@include about.theme($dark-theme);
@include contact.theme($dark-theme);
@include experiences.theme($dark-theme);
@include resume.theme($dark-theme);
@include skills.theme($dark-theme);
@include floating-skill.theme($dark-theme);

body {
    &.glass-scheme {
        @include glass.theme($dark-theme);
    }
    &:not(.glass-scheme) {
        @include glass.untheme($dark-theme);
    }
}

body.color-scheme-light {
    @include mat.all-component-themes($light-theme);

    @include app.theme($light-theme);
    @include about.theme($light-theme);
    @include contact.theme($light-theme);
    @include experiences.theme($light-theme);
    @include resume.theme($light-theme);
    @include skills.theme($light-theme);

    &.glass-scheme {
        @include glass.theme($light-theme);
    }
    &:not(.glass-scheme) {
        @include glass.untheme($light-theme);
    }
}
