<section class="about-page">

  <header>
    <h1>
      ABOUT ME
    </h1>
  </header>

  <section class="skills-medals-page">


    <mat-card>
      <mat-card-content>

        <div [innerHTML]="about"></div>

      </mat-card-content>
    </mat-card>

    <mat-card class="radar-chart">
      <mat-card-content>

        <canvas baseChart [datasets]="radarChartDatasets" [options]="radarChartOptions" [labels]="radarChartLabels"
          [type]="'radar'">
        </canvas>

      </mat-card-content>
    </mat-card>

  </section>




</section>
