:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-height: 100%;
}

section.resume-page {
  display: flex;
  flex-direction: column;
  gap: 2em;

  header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 4em;
      margin-block-start: 1.5em;
      margin-block-end: 2.5em;
    }

    nav {
      position: absolute;
      bottom: 50px;
      right: 50px;

      display: flex;
      align-items: end;
      justify-content: end;
      gap: 2em;

      button {
        min-height: 50px;

        mat-icon {
          height: auto;
          width: auto;
          overflow: unset;

          img {
            width: 50px;
            transform: rotate(-15deg);
          }
        }
      }
    }
  }
}
