:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    justify-content: center;
}

section.experiences-timeline-page {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
